<div id='logo'>
  <%= image_tag "MattHiggins.png", id: 'logo' %>
  <span id='nav-links'> <!-- float right -->
    <%= link_to 'Home', root_path %>
    <%= link_to 'Portfolio', '/#portfolio-content' %>
    <%= link_to 'About Me', root_path %>
    <%= link_to 'Contact', root_path %>
  </span>
  <div id='welcome-image'> <!-- center -->
    <%= image_tag "main-image.png", id: 'main-image' %>
  </div>
</div>