
<span id='nav-links'>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Portfolio', '/#portfolio-content' %>
  <%= link_to 'About Me', root_path %>
  <%= link_to 'Contact', root_path %>
</span>
<div id='welcome-image'>
  <%= image_tag "main-image.png", id: 'main-image' %>
</div>