<span id='nav-links'>
  <%= link_to 'Home', root_path, id: 'home' %>
  <%= link_to 'Portfolio', root_path, id: 'portfolio' %>
  <%= link_to 'About Me', root_path, id: 'about-me' %>
  <%= link_to 'Resume', root_path, id: 'resume' %>
  <%= link_to 'Contact', root_path, id: 'contact' %>
</span>
<div id='top-content'>
  <%= render 'home' %>
  <%= render 'about_me' %>
</div>