<h2>Portfolio</h2>
<div class='divider'></div>
<div id='project-container'>

  <div id='sat_alert' class='full-width-project project'>
    <a href="http://hwhelchel.com/sat_alert/"><%= image_tag "sat_alert.png" %></a>
    <p>Winner 2014 NASA SpaceApps Challenge for SF - Web and pebble app for tracking the ISS.</p>
    <a href="https://github.com/hwhelchel/sat_alert">Check out the Code!</a>
  </div>

  <div id='driveless' class='full-width-project project'>
    <a href="http://boiling-river-4450.herokuapp.com/"><%= image_tag "driveless.png" %></a>
    <p>Social media app centered around energy-efficient transportation choices</p>
    <a href="https://github.com/mh120888/driveless">Check out the Code!</a>
  </div>

  <div id='backlyne' class='full-width-project project'>
    <a href="http://www.backlyne.com"><%= image_tag "backlyne.png" %></a>
    <p>A small business management tool for music teachers.</p>
    <a href="https://github.com/mh120888/music-teacher">Check out the Code!</a>
  </div>

  <div id='QuickTips' class='left-project project'>
    <a href="http://mh120888.github.io/jstips"><%= image_tag "quicktips.png"%></a>
    <p>Helping you calculate tips without doing any math!</p>
    <a href="https://github.com/mh120888/jstips">Check out the Code!</a>
  </div>

  <div class='right-project project'>
    <%= image_tag "sketchy_overflow.png"%>
    <p>Stack overflow clone for asking sketchy questions.</p>
    <a href="https://github.com/mh120888/sketchyoverflow">Check out the Code!</a>
  </div>

  <div class='clear'>
  </div>

</div>
<div class='clear'></div>